body {
    background: url(image/bg-1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main {
    width: 100%;
    height: 100%;
}

.main .login {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.login form {
    border: 1px solid #B0B6BE;
    background: rgba(213, 215, 222, 0.9);
    max-width: 350px;
    margin: 200px auto 0;
}

fieldset {
    padding: 20px;
    border: 0;
}

input {
    border: none;
    box-shadow: none;
    font-size: 16px;
    border-radius: 0;
    position: relative;
    height: auto;
    box-sizing: border-box;
    display: table-cell;
    width: 100%;
    padding: 10px 10px;
}

table {
    border: 0;
}

.btn {
    color: #ffffff;
    background-color: #007aff;
    border-color: #007aff;
    margin-bottom: 10px;
    width: 285px;
}

.btn:hover {
    color: #007aff;
    background-color: #ffffff;
}

td {
    color: gray;
    padding-bottom: 15px;
}