<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>/login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddDepartmentServlet</servlet-name>
        <servlet-class>com.servlet.AddDepartmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddDepartmentServlet</servlet-name>
        <url-pattern>/addDepartment.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddPersonServlet</servlet-name>
        <servlet-class>com.servlet.AddPersonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddPersonServlet</servlet-name>
        <url-pattern>/addPerson.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddAttendanceServlet</servlet-name>
        <servlet-class>com.servlet.AddAttendanceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddAttendanceServlet</servlet-name>
        <url-pattern>/addAttendance.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchSalaryServlet</servlet-name>
        <servlet-class>com.servlet.SearchSalaryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchSalaryServlet</servlet-name>
        <url-pattern>/searchSalary.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddSalaryServlet</servlet-name>
        <servlet-class>com.servlet.AddSalaryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddSalaryServlet</servlet-name>
        <url-pattern>/addSalary.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManagementServlet</servlet-name>
        <servlet-class>com.servlet.ManagementServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManagementServlet</servlet-name>
        <url-pattern>/Management.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.servlet.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/User.do</url-pattern>
    </servlet-mapping>
</web-app>